# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/
*.iml
*.iws
*.ipr

# VSCode
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Project specific
data/
models/
lightning_logs/
mlruns/
outputs/
.dvc/cache/

# Weights and models
*.pth
*.pt
*.onnx
*.engine

# DVC
.dvc/cache
/data
/models
.dvc/tmp
*.dvc.yaml.lock
*.dvc.lock

# MLflow
mlruns/

# Hydra
outputs/

# TensorRT
*.engine
*.plan 